@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif;
}

.logo{
   font-family: "Righteous", sans-serif;
}